botonEliminar {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: #888;
    font-size: 18px;
    cursor: pointer;
    display: none;
  };
  .tarea:hover .boton-eliminar {
    display: block;
  }